@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');


body{
    background-color: #E4C491;
}

#img{
    width: 30%;
    margin-left: 35%;
    text-align: center;
}

#button{
    margin-top: -25%;
}

img{
    width: 45%;
    margin-left: 27%;
    margin-top: -5%;
}

h1{
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 45px;
}

p{
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    color: #9E3F3F;
    font-size: 35px;
}

#start{
    margin-top: -90%;
}

#header{
    margin-top: -44%;
    text-align: center;
}

#text{
    margin-top: -4%;
    text-align: center;
}

#head{
    margin-top: -4%;
    text-align: center;
}

#red{
    text-align: center;
    margin-left: 15%;
    margin-top: 35%;
}

#orange{
    size: 10%;
    text-align: center;
}

#pink{
    size: 10%;
    text-align: center;
}

#blonde{
    size: 10%;
}

#black{
    size: 10%;
}

#button:hover{
    transform: scale(1.25);
}

#start:hover{
    transform: scale(1.25);
}
